# Node.js
node_modules/

# Compiled output
# /dist/
/build/

# Yarn
yarn-error.log

# npm
*.log
*.lock
node_modules/

# Dependency directories
pids
logs
results

# Local development files
.env*

# Editor directories
.idea/
.vscode/

# Mac
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Tailwind CSS
.cache/
# output.css
