@tailwind base;
@tailwind components;
@font-face {
  font-family: 'DM Sans';
  src: url('../fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}
@font-face {
  font-family: 'kufam';
  src: url('../fonts/Kufam/Kufam-Regular.ttf');
}
@tailwind utilities;
